<!DOCTYPE html>
<html>
    <head>
        <title>Amazing TO-DO List</title>
    </head>
    <body>
        <h2>TO-DO List</h2>
        <form action="/submit-task" method="POST"> {% csrf_token %}
            <input type="text" name="text"/>
            <input type="submit" value="Crear"/>
        </form>
        <table>
            <tr>
                <th style="text-align=center;">Tarea</th><th> Status </th><th> </th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>&rarr; {{ task.text}} </td><td>{{ task.state }} </td>
                {% if task.state != 1 %}
                <td>
                    <form action="/check-task" method="POST"> {% csrf_token %}
                        <input type = "hidden" name="id" value="{{ task.pk }}"/>
                        <input type="submit" value="Check"/>
    
                    </form>
                </td>
                {% else %}
                    <td> </td>    
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>