<!DOCTYPE html>
<html>
    <head>
        <title>Amazing TO-DO List</title>
    </head>
    <body>
        <h2>TO-DO List</h2>
        <form action="/submit-task" method="POST"> {% csrf_token %}
            <input type="text" name="text"/>
            <input type="submit" value="Crear"/>
        </form>
        <table>
            <th>
                <td>Tarea</td>
            </th>
            {% for task in tasks %}
            <tr>
                <td>&rarr; {{ task.text }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>